.header{
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  justify-content: center;
}

.inputs{
  display: grid;
}

.first_col{
  display: flex;
}

.bullet_1{
  display: flex;
  justify-content: center;
}

.bullet_2{
  padding: 20px;
  width: 440px;
}

.form-label{
  font-size: 14px;
  margin: 1em 0 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.form-input{
  padding: 6px 8px 4px;
  font-size: 15px;
  height: 40px;
  margin: 6px 0;
  border-radius: 6px;
  border: 1px solid #d8d8d8;
}

.form_submit{
  margin: 1.5em 0 0 0;
  background: #d8d8d8;
  color: #fff;
  border: 1px solid #d8d8d8;
  padding: 9px 19px!important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  filter: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  line-height: 1.45em;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-weight: 400;
  height: auto;
}

.form_submit:hover{
  background: #f2f2f2;
}

.submit_img{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8ce2e1;
}

.form-submit-2{
  margin: 1.5em 0 0 0;
  background: #1d1d1b;
  /* background: red; */
  color: #fff;
  border: 1px solid #d8d8d8;
  padding: 9px 19px!important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  filter: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  line-height: 1.45em;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  font-weight: 400;
  height: auto;
}

.form-submit-2:hover{
  background: #343434;
}

.bulletList-li{
  color: #1d1d1b;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .width_half{
    width: 50% !important;
  }

  .width_full{
    width: 100% !important;
  }
}